<div class="logo-container">
  <!--<img src="/assets/moodlemoot_logo.png" alt="MoodleMoot Logo">-->
</div>
<div class="login-container">
  <% if @user.present? %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
          <ul>
          <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
          </ul>
      </div>
    <% end %>
  <% end %>

  <h2>Registrarse</h2>
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
  <div id="error-message" class="alert alert-danger" style="display: none;"></div>
  <%= simple_form_for :user, url: portal_signup_path, method: :post, html: { class: "needs-validation" } do |form| %>
      <div class="mb-3">
        <%= form.input :name, label: "Nombre completo", required: true, input_html: { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= form.input :email, label: "Correo electrónico", required: true, input_html: { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= form.input :password, label: "Contraseña", required: true, input_html: { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= form.input :password_confirmation, label: "Confirmar contraseña", required: true, input_html: { class: "form-control" } %>
      </div>

      <div class="d-grid">
        <%= form.button :submit, "Registrarse", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>