

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="width: 400px;">
    <h2 class="text-center mb-4">Validando Usuario</h2>

    <!-- Mostrar Flash Messages -->
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <!-- Centered text -->
    <p class="text-center">Por favor ingresa el código OTP enviado a tu correo</p>

    <%= simple_form_for :user, url: portal_signup_create_path, method: :post, html: { class: "needs-validation", id: "otp-form" } do |form| %>
      <!-- JWT Input -->
      <%= form.hidden_field :jwt_token, value: session[:jwt_token] %>

      <!-- OTP Input -->
      <div class="mb-3">
        <%= form.input :otp_code, required: true, label: false, input_html: { class: "otp-input", id: "otp-input", type: "tel", maxlength: 6, pattern: "[0-9]{6}", oninput: "moveFocus(event)", autocomplete: "off", inputmode: "numeric" } %>
        <div id="otp-error" style="color: red; display: none;">Por favor ingresa los 6 dígitos del código OTP.</div>
      </div>
      <br>
      <div class="d-grid">
        <%= form.button :submit, "Validar", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>

<!-- Add styles and JavaScript for OTP input -->
<style>
  .otp-input {
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 5px;
    letter-spacing: 10px;
  }
</style>

<script>
  // Move focus to the next field after a valid digit is entered
  function moveFocus(event) {
    const input = event.target;
    const value = input.value;

    // Check if the input is a digit and only allow numbers
    if (!/^\d{1}$/.test(value)) {
      return; // Do nothing if the input is not a valid digit
    }

    const nextInput = input.nextElementSibling;
    if (nextInput && nextInput.tagName.toLowerCase() === 'input' && input.value.length === 1) {
      nextInput.focus();
    }
  }

  // Form validation before submission
  document.getElementById("otp-form").addEventListener("submit", function(event) {
    const otpCode = document.getElementById("otp-input").value;

    // Check if the OTP code has 6 digits
    if (otpCode.length !== 6) {
      event.preventDefault();  // Prevent form submission
      document.getElementById("otp-error").style.display = 'block'; // Show error message
    } else {
      document.getElementById("otp-error").style.display = 'none'; // Hide error message
    }
  });
</script>

